.chart {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #4A148C;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: #6A1B9A;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-background-color: #F3E5F5;
}
.chart-bar {
    -fx-background-radius: 3 3 0 0;
}
/* Bouton Retour */
.retour-btn {
    -fx-background-color: #6b46c1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.retour-btn:hover {
    -fx-background-color: #805ad5;
}