
.button {
    -fx-background-color: #9370DB; /* Couleur violette */
    -fx-text-fill: white; /* Texte blanc */
    -fx-background-radius: 15; /* Bordures arrondies */
    -fx-padding: 10 10; /* Padding pour un meilleur aspect */
    -fx-font-size: 14px; /* Taille de la police */
}

.button:hover {
    -fx-background-color: #AB82FF; /* Couleur violette plus claire au survol */
}

.split-menu-button {
    -fx-background-color: #9370DB; /* Couleur violette */
    -fx-text-fill: white; /* Texte blanc */
    -fx-background-radius: 15; /* Bordures arrondies */
    -fx-padding: 10 20; /* Padding pour un meilleur aspect */
    -fx-font-size: 14px; /* Taille de la police */
}

.split-menu-button:hover {
    -fx-background-color: #AB82FF; /* Couleur violette plus claire au survol */
}

.split-menu-button .label {
    -fx-text-fill: white; /* Assurez-vous que le texte est blanc */
}

.split-menu-button .arrow-button {
    -fx-background-color: #AB82FF; /* Couleur violette plus claire pour la flèche */
}

.split-menu-button .arrow-button:hover {
    -fx-background-color: #C7B2E2; /* Couleur encore plus claire au survol de la flèche */
}

/* Style pour le sous-menu */
.split-menu-button .context-menu {
    -fx-background-color: #9370DB; /* Couleur violette pour le sous-menu */
    -fx-text-fill: white; /* Texte blanc */
}

.split-menu-button .context-menu .label {
    -fx-text-fill: white; /* Texte blanc dans le sous-menu */
}

.split-menu-button .context-menu:hover {
    -fx-background-color: #AB82FF; /* Couleur violette plus claire au survol */
}
